$ns: '.active-carwashes';

#{$ns} {
  &__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
  }

  &__carwash {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

    &.disabled {
      pointer-events: none;
      opacity: 0.65;
    }
  }

  &__title {
    border-bottom: 1px solid #e2e2e2;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 200px;
    width: 100%;
    margin: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__remaining {
    margin: 0 !important;
    padding: 10px 0 0 5px;
  }
}
