$ns: '.active-carwashes';

#{$ns} {
  &__list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
  }

  &__card {
    &.mdl-card {
      max-width: 512px;
      width: 100%;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    > .mdl-card__title {
      color: #fff;
      height: 176px;
      background: url('../../assets/gifs/carwash.gif') center / cover;

      &--inactive {
        background: url('../../assets/images/carwash.jpg') center / cover;
      }
    }

    > .mdl-card__menu {
      color: #fff;
    }
  }
}
