$ns: '.carwash-detail-page';

#{$ns} {
  &__title {
    margin-bottom: 15px;
  }

  &__top {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  hr {
    height: 1px;
    width: 100%;
    background: #e2e2e2;
    margin: 20px 0 15px;
  }
}
