$ns: '.paid';

#{$ns} {
  &__container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    .line {
      width: 10px;
      height: 1px;
      color: #e2e2e2;
      background: #e2e2e2;
      max-width: 690px;
      width: 100%;
      margin: 0 15px;
    }
  }

  &__has-paid-icon {
    width: 25px;
    margin-left: 15px;
  }

  &__has-paid-text {
    display: inline-flex;
    align-items: center;
    margin: 0;

    @media screen and (min-width: 768px) {
      // margin-right: 20px;
    }
  }

  .mdl-switch {
    max-width: 40px;
  }
}
