@import '../../node_modules/notie/src/notie';

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 60px;
  min-height: 100%;
  background: #f2f2f2;
  font-family: 'Lato', sans-serif;
}

.page-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;

  .padding {
    padding-top: 130px;
  }
}

a {
  color: #df5a4c;
  transition: color 400ms ease;
  text-decoration: none;

  &:hover {
    color: #e03421;
  }
}

small {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5 {
  display: block;
  color: #2c3e50;
  font-family: Lato;
  font-weight: bold;
  margin: 5px 0 20px 0;

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

p,
a {
  font-family: Lato;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #2c3e50;
  margin: 5px 0 15px;

  @media screen and (min-width: 1024px) {
    font-size: 14px;
  }
}

@import './material-theme.min.css';
