$ns: '.current-signups';

#{$ns} {
  &__card {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    min-height: 130px;

    background: white;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      align-items: center;
      flex-direction: row;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
  }

  &__card-top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }

    button {
      width: 100%;

      @media screen and (min-width: 768px) {
        max-width: 180px;
      }
    }
  }

  &__user-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 25px;
    width: 100%;
    flex-direction: column;

    @media screen and (min-width: 480px) {
      flex-direction: row;
    }

    @media screen and (min-width: 768px) {
      margin: 0;
      max-width: 400px;
      justify-content: flex-start;
    }
  }

  &__profile-image {
    @media screen and (min-width: 480px) {
      margin-right: 15px;
    }
  }

  &__display-name {
    margin: 0;
  }

  &__card-bottom {
    width: 100%;
  }

  &__car-details {
    width: 100%;
    display: flex;
    flex-direction: column;

    &.show {
      #{$ns}__car-details-wrapper {
        max-height: 300px;
        overflow: auto;
      }

      #{$ns}__car-details-title {
        &:after {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__car-details-title {
    cursor: pointer;
    position: relative;
    margin: 10px 0;

    &::after {
      content: '\2039';
      position: absolute;
      right: 0;
      top: 0;
      transform: rotate(-90deg);
      transition: transform 400ms ease;
      font-size: 30px;
    }
  }

  &__car-details-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease;
  }

  &__car-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin-bottom: 7px;

    * {
      margin: 0;
    }
  }

  &__car-detail-headline {
    font-weight: bold;
    font-size: 16px;
    color: #2c3e50;
  }

  &__car-detail-copy {
    color: #73777c;
  }

  &__actions {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    @media screen and (min-width: 768px) {
      justify-content: center;
      width: auto;
    }

    button {
      flex-basis: 105px;
    }
  }

  hr {
    height: 1px;
    width: 100%;
    background: #e2e2e2;
    margin: 20px 0 15px;
  }
}
